<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style_game.css">
    <title>Gu Game</title>
</head>
<body>
    <div class="game">
        <div class="painel">
            <span><b>Timer: </b></span><span id="timer">30</span>
            <span><b>Pães: </b></span><span id="score">0</span><span><b>Meta(20)</b></span>
        </div>
        <div class="paes">
            <img src="img\img_gu_game\pao.png" alt="" class="pao">
            <img src="img\img_gu_game\pao-alho.png" alt="" class="pao-alho">
            <img src="img\img_gu_game\start.png" alt="" class="start">
            <img src="img\img_gu_game\btn-start.png" alt="" class="btn-start">
            <img src="img\img_gu_game\game-over.jpg" alt="" class="game-over">
            <img src="img\img_gu_game\winner.png" alt="" class="winner">
            <img src="img\img_gu_game\icons\reset.png" alt="" class="reset">
            <img src="img\img_gu_game\icons\off.png" alt="volume" class="music-control">
            <audio id="main" src="img\img_gu_game\sound.mp3"></audio>
            <audio id="risa" src="img\img_gu_game\risadinha.mp3"></audio>
            <audio id="uuu" src="img\img_gu_game\uuu.mp3"></audio>
        </div>
        <img src="img\img_gu_game\gu-costas.png" alt="" class="character">
    </div>
</body>
<script src="/js/script_game.js"></script>
</html>